<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>combinationdescriptions</name>
    <displayName><![CDATA[Combination Descriptions]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds a description to each product combination and exposes it through the Webservice API.]]></description>
    <author><![CDATA[combinationdescriptions]]></author>
    <tab><![CDATA[catalog]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
